<header id="header">
  <div class="content">
    <div class="inner">
      <h1>Laura D. Vega, PhD</h1>
      <img src="{{ '/images/laura_vega_profile.jpeg' | relative_url }}" style="width:280px; height:280px; object-fit: cover;" alt="Portrait of Laura Vega" />
      <p>
        <a href="https://orcid.org/0000-0002-5928-2685" target="_blank" rel="noopener">orcid.org/0000-0002-5928-2685</a> &vert;
        <a href="https://github.com/LunaAlphaLyrae/Laura_Vega_CV/blob/build/Laura_Vega_CV.pdf" target="_blank" rel="noopener">Curriculum Vitae</a> &vert;
        <a href="https://arxiv.org/search/?query=Vega%2C+L.+D.&searchtype=author&abstracts=show&order=-announced_date_first&size=50" target="_blank" rel="noopener">Astro-PH</a> &vert;
        <a href="https://ui.adsabs.harvard.edu/search/p_=0&q=author%3A(%22Vega%2C%20L.%22%20OR%20%22Vega%2C%20Laura%22%20OR%20%22Vega%2C%20Laura%20D.%22%20OR%20%22Vega%2C%20L.%20D.%22%20%20OR%20%20%22Vega%2C%20Laura%20Daniela%22)%20AND%20%20year%3A%5B2010-*%5D%20AND%20%20full%3A(%22RV%20Tau%22%20OR%20%22M%20dwarfs%22%20OR%20%22UTSA%22%20OR%20%22University%20of%20Texas%20at%20San%20Antonio%22%20OR%20%22U%20TX%20San%20Antonio%22%20OR%20%22Vanderbilt%22%20OR%20%22Fisk%22%20OR%20%22NASA%22%20OR%20%22NASA%20GSFC%22%20OR%20%22NASA%20Goddard%20Space%20Flight%20Center%22%20OR%20%22University%20of%20Maryland%22%20OR%20%22Bridge%22)&sort=date%20desc%2C%20bibcode%20desc" target="_blank" rel="noopener">Publications</a>
      </p>
      <p>
        <b>Astrophysicist &vert; Postdoctoral Researcher</b> <br /> Heising-Simons Foundation Astrophysics Postdoctoral Fellow
      </p>
      <p>
        <a href="https://science.gsfc.nasa.gov/astrophysics/exoplanets">NASA Goddard Space Flight Center</a><br />
        <a href="https://www.astro.umd.edu/">University of Maryland, College Park</a> &amp; <a href="https://cresst2.umd.edu/">CRESST II</a>
      </p>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="#about">About Me</a></li>
      <li><a href="#research">Research</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#outreach">Outreach</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#publications">Publications</a></li>
      <li><a href="#resume">Resume</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
