<article id="contact">
  <h2 class="major">Contact</h2>
  <p>
    <b>Email:</b><br />
    laura.d.vega@nasa.gov<br />
    ldvega@umd.edu
  </p>
  <p>
    <b>Address:</b><br />
    Exoplanets and Stellar Astrophysics Laboratory<br />
    NASA Goddard Space Flight Center, Mail Code 667<br />
    8800 Greenbelt Rd.<br />
    Greenbelt, MD<br />
    20771<br />
    USA
  </p>
  <ul class="icons">
    <li>
      <a href="https://twitter.com/LunaAlphaLyrae" class="icon fa-twitter"><span class="label">Twitter</span></a>
    </li>
    <li>
      <a href="https://www.twitch.tv/LunaAlphaLyrae" class="icon fa-twitch"><span class="label">Twitch</span></a>
    </li>
    <li>
      <a href="https://www.instagram.com/luna.alphalyrae/" class="icon fa-instagram"><span class="label">Instagram</span></a>
    </li>
    <li>
      <a href="https://github.com/LunaAlphaLyrae/" class="icon fa-github"><span class="label">GitHub</span></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/lauradanielavega/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a>
    </li>
    <li>
      <a href="https://orcid.org/0000-0002-5928-2685/" class="fa-brands fa-orcid"><span class="label">iD</span></a>
    </li>
  </ul>
</article>
