<article id="outreach">
  <h2 class="major">Outreach</h2>
  <p>
    <b>Astronomy Outreach:</b><br /> I enjoy volunteering as a visiting astronomer at the <a href="https://airandspace.si.edu/" target="_blank" rel="noopener">Smithsonian Air and Space Museum</a> in Washington DC. In the past, I have conducted a monthly <a href="https://airandspace.si.edu/events/astronomy-chat-laura-vega-5" target="_blank" rel="noopener">Astronomy Chat</a>, where I interact with museum-visitors of all ages, and chat about astronomy, my research, and share what it is like to be an astronomer.
  </p>
  <span class="image main">
    <img src="{{ '/images/hispanic_heritage_2019_NASM.jpg' | relative_url }}" alt="Familia Day at the Smithsonian National Air and Space Museum" loading="lazy" decoding="async" />
  </span>
  <p>
    <b>Image:</b> Familia Day at the Smithsonian National Air and Space Museum with Jorge Padial, Crisel Suarez, Iban Iba&ntilde;ez Domenech, September 2019.
  </p>
  <p>
    <b>Toastmasters International:</b><br /> Through a worldwide network of clubs, you can practice public speaking and leadership skills in a friendly, supportive environment. As a proud Toastmaster since October 2013, I have been a part of UTSA Roadrunner Toastmasters, Vanderbilt Toastmasters, and since 2017, a member of NASA Goddard Toastmasters, where I am serving as the 2022-2023 VP of Public Relations. We meet every 2nd and 4th Wednesday of the month on Microsoft Teams (go to our <a href="https://toastmasters.gsfc.nasa.gov/" target="_blank" rel="noopener">website</a> for meeting link). Though we are not an 'Open' club, you are welcome to come to a meeting (as my guest), to learn more about Toastmasters.
  </p>
</article>
