---
layout: default
---
<div id="wrapper">
  {% include header.html %}
  <div id="main">
    {% include section-about.html %}
    {% include section-research.html %}
    {% include section-outreach.html %}
    {% include section-education.html %}
    {% include section-publications.html %}
    {% include section-resume.html %}
    {% include section-contact.html %}
  </div>
  {% include footer.html %}
</div>
<div id="bg"></div>
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/browser.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/breakpoints.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/util.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
